@font-face {
    font-family: 'Hellix';
    src: url('https://assets.codepen.io/6060109/Hellix-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Hellix';
    src: url('https://assets.codepen.io/6060109/Hellix-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hellix';
    src: url('https://assets.codepen.io/6060109/Hellix-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Hellix';
    src: url('https://assets.codepen.io/6060109/Hellix-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Hellix';
    src: url('https://assets.codepen.io/6060109/Hellix-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Hellix';
    src: url('https://assets.codepen.io/6060109/Hellix-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Hellix';
    src: url('https://assets.codepen.io/6060109/Hellix-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Hellix';
    src: url('https://assets.codepen.io/6060109/Hellix-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Hellix';
    src: url('https://assets.codepen.io/6060109/Hellix-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Hellix';
    src: url('https://assets.codepen.io/6060109/Hellix-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Hellix';
    src: url('https://assets.codepen.io/6060109/Hellix-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Hellix';
    src: url('https://assets.codepen.io/6060109/Hellix-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Hellix';
    src: url('https://assets.codepen.io/6060109/Hellix-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Hellix';
    src: url('https://assets.codepen.io/6060109/Hellix-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Hellix';
    src: url('https://assets.codepen.io/6060109/Hellix-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Hellix';
    src: url('https://assets.codepen.io/6060109/Hellix-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* --------------Fonts Above------------- */

* {
    margin: 0;
    padding: 0;

}

html,
body {
    min-width: 100%;
    min-height: 100vh;
    font-family: hellix;
    color: #111235;
    background: linear-gradient(7.28deg, #eef5ff 0%, #ffffff 99.69%);

}

.constrain {
    max-width: 500px;
    /* purpose of the constrain class is to ensure assets don't stretch for other devices */
    margin: auto;
}



h1,
h2,
h3,
h5,
h6 {
    font-weight: 500;
}

h1 {
    font-size: 64px;
    line-height: 75px;
    margin: 10px 15px;
}

h2 {
    font-size: 48px;
    line-height: 58px;
    margin: 20px 15px 20px;
}

h3 {
    font-size: 32px;
    line-height: 43px;
}

h4 {
    font-size: 24px;
    font-weight: bold;
    line-height: 29px;
    padding: 10px 100px 0 40px;
}

h5 {
    font-size: 18px;
    line-height: 24px;
}

h6 {
    font-size: 16px;
    line-height: 24px;
}

p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin: 15px 15px;
}

.logo-box {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    background: #ffffff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04),
        0px 0px 1px rgba(0, 0, 0, 0.04);
}

.inner-content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.text-centered {
    text-align: center;
}

.bolded {
    font-weight: 700;
}

.inner-content-container img {
    max-width: 100%;
    height: auto;
    position: relative;
}

.btn {
    display: block;
    text-decoration: none;
    border-radius: 35px;
    padding: 20px 0px;
    width: 252px;
    margin: 10px auto;
}

.btn-primary {
    background-color: #4b5092;
    color: white;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 35px;
}

.btn-secondary {
    background-color: #ffffff;
    color: #436baa;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 35px;
}

.text-content {
    width: 100%;
    min-height: 350px;
    margin: auto;
    background: #f2f8ff;
    padding-top: 25px;
}

/* The beginning of page 2 */

.page-one {
    margin-bottom: 35px;
}

.page-two {
    margin-bottom: 115px;
}

#page-two-img {
    margin-bottom: 50px;
}

.page-three {
    width: 100%;
    height: auto;
    background: linear-gradient(99.85deg, #bad5ff 0%, #6487bf 100%);
    padding-top: 55px;
}

.page-four {
    margin-top: 120px;
}

.page-four a {
    margin-top: 25px;
}


.info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 92%;
    height: 255px;
    margin: 10px 10px;
    background: #e4f0ff;
    border-radius: 30px;
}

.info-box-secondary {
    background: rgba(114, 122, 239, 0.1);
    border-radius: 30px;
}

.info-box p {
    padding: 0 54px 0 25px;
}

/* --------------Footer Below------------- */

.footer {
    width: 100%;
    height: 500px;
}

.footer-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 40px auto;
}

.footer>h3 {
    margin: 40px auto;
}

.footer h5 {
    font-weight: 600;
    line-height: 28px;
}

.footer-menu h6 {
    padding: 14px;
}

ul {
    padding-left: 0;
    /* padding: 20px; */
}

ul li {
    list-style-type: none;
    padding: 14px;
}

input[type="email"] {
    width: 55%;
    height: 30px;
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-weight: 400;
    font-family: hellix;
    background: url("https://assets.codepen.io/6060109/icon-send.png") white 95% 50% no-repeat;
    /*   background shorthand for place an image inside an input */
}

input[type="email"]::placeholder {
    color: #111235;
}

.social-media-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 176px;
    height: 30px;
    margin: 20px auto;
    padding: 0px 5px;
    /*   background: grey; */
}

.icon-circles {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background: rgba(128,
            173,
            245,
            0.1);
    /*   use this for color instead of because it won't block icons */
}

#copyright {
    font-size: 14px;
    font-weight: 500px;
    line-height: 24px;
    padding: 30px 0px;
    text-align: center;
    font-feature-settings: "liga"off;
}

a {
    text-decoration: none;
}

.border-top {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.bm-15 {
    margin-bottom: 15px;
}


/* Start leaving notes for each class  */
/* make global margin and padding classes  */

/* --------------Desktop Display Here------------- */


@media only screen and (min-width: 992px) {
    .constrain {
        max-width: 1500px;
    }

    .logo-box {
        box-shadow: none;
        justify-content: space-between;
        margin: 0px 70px;
    }

    nav {
        display: flex;
        justify-content: space-evenly;
        width: 30%;
        margin: 0 40px;
        padding: 0 20px;
    }

    .inner-content-desktop-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 35px;
    }

    .inner-content-desktop-container a {
        /* justify-content: flex-end; */
        align-items: center;
    }

    .page-one .inner-content-container {
        display: flex;
        flex-direction: row-reverse;
    }

    .page-two .inner-content-container {
        flex-direction: row;
        margin: 100px auto;
        width: 1132px;
    }

    #page-two-img {
        flex: 50%;
        margin-bottom: 0px;
        height: auto;
    }

    .text-content {
        width: 520px;
        background: #f2f8ff;
        border-radius: 50px;
    }

    .page-two .inner-content-container {
        flex-direction: row;
        margin: 100px auto;
        width: 1132px;
    }

    #page-two-img {
        flex: 50%;
        margin-bottom: 0px;
        height: auto;
    }

    .text-content {
        width: 520px;
        background: #f2f8ff;
        border-radius: 50px;
    }

    .page-three .inner-content-container {
        flex-direction: row-reverse;
    }

    .page-three .inner-content-desktop-container {
        width: 50%;
        padding: 10px;
        margin: 0px auto;
    }
}